@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @*<input type="text" id="FirstName"> 
        @Html.DisplayFor(m => m.FirstName, new { @id = "attribute", @class = "text-info" })
        <a href="#" id="edit">Edit</a>
        <script>
 $('#edit').click(function () {
        var text = $('.text-info').text();
        var input = $('<input id="attribute" type="text" value="' + text + '" />')
        $('.text-info').text('').append(input);
        input.select();

        input.blur(function () {
            var text = $('#attribute').val();
            $('#attribute').parent().text(text);
            $('#attribute').remove();
        });
    });   </script>*@
    </div>
</body>
</html>
